* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

#header {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding: 0 200px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header-bottom {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

a,
.main p {
  font-size: 18px;
  color: #E5E7EB;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

img {
  width: 500px;
  height: auto;
}

#gallery h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  text-align: center;
}

#gallery {
  padding-bottom: 100px;
}

.gallery-container img {
  width: 150px;
  height: 150px;
  border: 5px #011627 solid;
  border-radius: 5px;
}

.gallery-container {
  display: flex;
  gap: 70px;
  justify-content: center;
}

.info {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  text-align: center;
}

#quote {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 100px 0;
}

.quote-text {
  font-size: 32px;
  font-style: italic;
  color: #1F2937;
  font-weight: lighter;
  align-self: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 30px;
}

.quote-author {
  align-self: flex-end;
  margin-right: 20px;
  font-weight: 700;
  font-size: 20px;
}

#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 200px;
}

.signup-container {
  flex-grow: 1;
  background-color: #3882F6;
  display: flex;
  color: #FFFFFF;
  padding: 40px 100px;
  border: 5px #3882F6 solid;
  border-radius: 5px;
  justify-content: space-between;
}

button {
  background-color: #3882F6;
  color: #FFFFFF;
  padding: 0 40px;
}

.signup-container button {
  border: 2px #FFFFFF solid;
  border-radius: 5px;
  flex-shrink: 0;
}

.signup-container h2 {
  font-size: 20px;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #FFFFFF;
  padding: 20px;
}